appdirs==1.4.4
attrs==21.2.0
cffi==1.14.6
click==8.0.1
diskcache==5.2.1
Flask==2.0.1
glean-parser==3.4.0
glean-sdk==39.0.3
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
MarkupSafe==2.0.1
pathlib==1.0.1
pathspec==0.8.1
pycparser==2.20
pyrsistent==0.18.0
python-dotenv==0.18.0
PyYAML==5.4.1
six==1.16.0
Werkzeug==2.0.1
yamllint==1.26.1
